.logo {
  width: 100px;
  padding: 5px;
}

.main-container {
  width: 60%;
  margin: 20px auto;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  width: 150px;
  height: 40px;
}

.text-field {
  width: 100%;
  background-color: #f6f6f6;
}

.btn {
  width: 100px;
  height: 40px;
  margin-left: 5px !important;
  background-color: #f26b3a !important;
}

.tabs-container {
  margin-top: 20px;
}

.tab {
  text-transform: none !important;
}

.table-cell {
  border: 1px solid rgba(224, 224, 224, 1);
  border-collapse: collapse;
  padding: 7px 5px !important  ;
}

.checkbox {
  padding: 2px 5px !important;
}

.textField {
  width: 100%;
}

.errorImg {
  width: 50%;
  margin: auto;
  object-position: center 0;
}
